<!DOCTYPE html>
<head>
    <% include ../partials/header.ejs %>
</head>
<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4" id="title">Is This A Dancer?</h1>
        <br>
        <div id="myButtons">
        <button type="button" class="btn" id="yesbtn">Yes</button>
        <button type="button" class="btn" id="nobtn">No</button>
        </div>
    </div>
</div>